.banner {
	background: var(--blue-gradient);
	color: var(--white-color);
	text-align: center;
	padding: 2.5em 2em;
}

.banner__heading {
	font-size: 18px;
	font-weight: 700;
}

.banner__text {
	font-weight: 500;
	margin: 1.3em 0;
}

.banner__search {
	background-color: transparent;
	border: 1px solid var(--white-color);
	color: var(--white-color);
	border-radius: 24px;
	padding: 1em;
	width: 100%;
}

.banner__search::placeholder {
	font-family: var(--font-primary);
	font-size: 14px;
	font-weight: 400;
	color: var(--white-color);
	text-align: center;
	background: url("../img/search.svg") no-repeat 1em;
}

@media screen and (min-width: 1024px) {
	.banner__heading {
		font-size: 36px;
	}

	.banner__search {
		width: 40%;
	}

	.banner__search::placeholder {
		background-position: 7em;
	}
}
