.card {
	width: 85vw;
	background-color: var(--white-color);
	color: var(--black-color);
	margin: 1em auto;
	padding: 1.5em 1em;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card,
.card__options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.card__advertising {
	color: var(--orange-color);
	font-weight: 700;
}

.card__heading {
	font-size: 18px;
	font-weight: 700;
	color: var(--dark-blue);
	padding: 0.7em 0;
}

.card__options {
	grid-column: span 2;
	justify-content: space-between;
	align-items: center;
}

.card__img {
	width: 100%;
}

.stars {
	padding-bottom: 0.7em;
}

.buttons {
	display: flex;
}

.buttons__anchor {
	display: block;
	width: 100%;
	color: var(--white-color);
	background-color: var(--orange-color);
	text-decoration: none;
	font-weight: 700;
	padding: 1em 0;
	text-align: center;
}
