.carousel__heading {
	color: var(--orange-color);
	background-color: var(--white-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	padding: 1em 0 0.5em 0;
}

.swiper-slide img {
	width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}

.swiper-pagination {
	position: initial;
	margin: 0.7em 0;
}

@media screen and (min-width: 1024px) {
	.carousel__heading {
		font-size: 26px;
	}

	.swiper-pagination {
		margin: 2em 0 3em 0;
	}

	.swiper {
		width: 60%;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: block;
		top: 60%;
	}
}

@media screen and (min-width: 1728px) {
	.carousel__container {
		display: flex;
		margin: 0 20vw 3em 20vw;
		align-items: center;
	}

	.swiper-pagination {
		margin: 1em 0;
	}

	.swiper {
		width: 60%;
	}
}
