.carousel__heading {
	color: var(--orange-color);
	background-color: var(--white-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	padding: 1em 0 0.5em 0;
}
