.contact {
	background-color: var(--white-color);
	padding: 1em;
}

.contact__heading,
.contact__text {
	background: var(--blue-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.contact__heading {
	font-weight: 700;
	font-size: 18px;
}

.contact__text {
	font-weight: 300;
	margin: 1em 0;
}

.contact__email {
	padding: 1em 1.5em;
	border: 1px solid var(--dark-blue);
	border-radius: 24px;
	width: 90%;
	color: var(--dark-blue);
}

.contact__email::placeholder {
	padding-left: 2.3em;
	font-family: var(--font-primary);
	color: var(--dark-blue);
	background: url("../img/email.svg") no-repeat left center;
}

@media screen and (min-width: 1024px) {
	.contact {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 1em;
		padding: 2em 1em;
	}

	.contact__desc {
		margin-right: 1em;
		width: 30%;
	}

	.contact__heading {
		font-size: 24px;
	}
	.contact__email {
		width: 30%;
	}
}
