.header__hamburger-menu {
	width: 24px;
	height: 24px;
	background-image: url("../img/menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.header {
	background-color: var(--white-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;
}

.container {
	display: flex;
	align-items: center;
}

.container__heading {
	display: none;
}

.container__img {
	padding: 1em;
}

.container__btn {
	display: none;
}

.container__btn:checked ~ .menu-list {
	display: block;
}

.menu-list {
	display: none;
	position: absolute;
	top: 100%;
	width: 60vw;
}

.menu-list__title,
.menu-list__item {
	padding: 1em;
	background-color: var(--white-color);
}

.menu-list__title {
	color: var(--orange-color);
	font-weight: 700;
}

.menu-list__link {
	background: var(--blue-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}

.options {
	display: none;
}

@media screen and (min-width: 1024px) {
	.container__heading,
	.container__heading--bold {
		font-family: var(--font-secondary);
		font-size: 30px;
	}

	.container__heading {
		display: block;
		font-weight: 400;
	}

	.container__heading--bold {
		font-weight: 700;
	}

	.options {
		display: flex;
	}

	.options__item {
		padding: 0 1em;
		text-transform: uppercase;
	}
	.options__link {
		text-decoration: none;
		color: var(--black-color);
	}

	.options__btn:checked ~ .menu-list {
		display: block;
		width: auto;
	}

	.container__img--transparent,
	.header__hamburger-menu,
	.options__btn {
		display: none;
	}
}
