@import url("./header.css");
@import url("./banner.css");
@import url("./carousel.css");
@import url("./cards.css");
@import url("./topics.css");

:root {
	--background-color: #ebecee;
	--white-color: #ffffff;
	--black-color: #000000;
	--orange-color: #eb9b00;
	--dark-blue: #002f52;
	--blue-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);

	--font-primary: "Poppins";
}

body {
	background-color: var(--background-color);
	font-family: var(--font-primary);
	font-size: 16px;
	font-weight: 400;
}
