.topics {
	background: var(--blue-gradient);
	text-align: center;
	padding-top: 1em;
}

.topics__heading {
	color: var(--white-color);
	font-weight: 300;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.topics__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.topics__item {
	margin: 2em 0.5em;
}

.topics__link {
	color: var(--white-color);
	padding: 1em;
	background-color: var(--orange-color);
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
}

@media screen and (min-width: 1024px) {
	.topics {
		padding: 2em 0;
	}
	.topics__heading {
		font-size: 24px;
	}

	.topics__list {
		width: 60%;
		margin: 0 auto;
		margin-top: 2em;
		row-gap: 1em;
	}

	.topics__link {
		font-size: 24px;
	}
}

@media screen and (min-width: 1728px) {
	.topics {
		padding: 3em 15vw;
	}
}
